
@media screen and (max-width: 1440px) {
    .partnersPageItem {
        width: 22%;
    }
}
@media screen and (max-width: 1340px) {
    .formSearch {
        max-width: 353px;
        margin: 0 80px 0 38px;
    }
    .menuImageActive {
        max-width: 41vw;
    }
    .submenuActive {
        padding: 0 20px;
    }
    .mainCatalog .card .title {
        flex-direction: column;
        align-items: flex-start;
    }
    .footerInfo .col:last-child {
        padding-left: 0;
    }
    .partnersPageItem {
        width: 30%;
    }
}

@media screen and (max-width: 1200px) {
    h3 {
        font-size: 22px;
    }
    .logo {
        width: 140px;
    }
    .formSearch {
        margin: 0 70px 0 20px;
    }
    .btnCatalog {
        padding: 14px 20px;
    }
    .menuImageActive {
        display: none;
    }
    .submenuActive {
        width: 50%;
    }
    .btnOneClick {
        font-size: 14px;
    }
    .formCardBig {
        padding: 40px;
    }
    .footerNav .social {
        width: 100%;
    }
    .info {
        grid-area: 4 / 1 / 4 / 4;
        width: 100%;
    }
    .footerNav .social {
        margin: 0;
        grid-area: 4 / 3 / 4 / 4;
    }
    .footerNav {
        grid-row-gap: 30px;
        margin-bottom: 20px;
    }
    .footerMenu {
        grid-area: 1 / 2 / 4 / 4;
    }
    .logo {
        width: 85px;
        overflow: hidden;
    }
    .footerBottom {
        font-size: 14px;
    }
    .sidebar {
        max-width: 300px;
    }
    .partnersPageItem {
        width: 29%;
    }
    .payPageWrap:last-child {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 993px) {
    .sectionTitle {
        font-size: 22px;
    }
    .headerWrap,
    .payPageWrap {
        flex-wrap: wrap;
    }
    .formSearch {
        margin: 0 auto 0 20px;
    }
    .shopBlock {
        margin-top: 15px;
        width: 100%;
        text-align: end;
    }
    .blockPhones {
        text-align: right;
    }
    .navigation .menu {
        display: none;
    }
    .mobileMenu {
        display: flex;
    }
    .mobileMenu .menu {
        display: flex;
        flex-direction: column;
    }
    .burgerMenu {
        display: block;
    }
    .mobileMenu {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        transform: translate(0, -100%);
        width: 100%;
    }
    .burgerMenu span {
        display: block;
        height: 6px;
        width: 38px;
        background: #ee6800;
        border-radius: 10px;
    }
    .navigationWrap {
        align-items: center;
    }
    .burgerMenu span:not(:last-child) {
        margin-bottom: 8px;
    }
    .mainCatalogItem,
    .whyListItem {
        width: 50%;
    }
    .footerTitle {
        font-size: 14px;
    }
    .mobileMenu.active {
        transform: translate(0, 0);
        opacity: 1;
        background: #fff;
        z-index: 9;
        height: 100%;
        padding: 17px 25px;
    }
    .mobileMenuClose {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .navigation .menu .dropdown::after {
        position: absolute;
        right: -25px;
        top: 0;
    }
    .navigation .menu li.dropdown:hover .submenu {
        position: unset;
        border: 0;
        box-shadow: none;
    }
    .navigation .menu li.dropdown .submenu a {
        color: var(--color-grey-3);
        font-size: 18px;
    }
    .mainTabsSection .productItem:not(:last-child) {
        margin-right: 0;
    }
    .tabsContent [data-tab-content].active {
        flex-wrap: wrap;
    }
    .mainNewsWrap {
        flex-wrap: wrap;
    }
    .mainNewsItem {
        width: 50%;
    }
    .navigation {
        margin-top: 10px;
    }
    .partnersPageItem {
        width: 100%;
    }
    .partnersPageItem {
        width: 100%;
        display: flex;
        align-items: flex-start;
    }
    .partnersPageItem .image {
        width: 83px;
        height: 83px;
        margin: 0 10px 0 0;
    }
    .partnersPageItem__info {
        width: 70%;
    }
    .newsPage .cardBottom__star {
        width: 68px;
    }
    .newsPage .cardBottom__star img {
        width: 100%;
    }
    .mainNewsItem p {
        font-size: 14px;
    }
    .cardBottom span, .cardTop span {
        font-size: 12px;
    }
    .payPageVariant {
        width: 100%;
        padding: 15px;
    }
}

@media screen and (max-width: 768px) {
    .innerPage {
        flex-direction: column-reverse;
    }
    .sidebar {
        max-width: 100%;
        gap: 20px;
    }
    .sidebar .card {
        padding: 15px;
    }
    .partnersPage {
        gap: 15px;
    }
    .sidebar .card .phones {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sidebar .help .social {
        margin: 7px 0 0;
    }
    .breadcrumbs {
        padding: 22px 0 40px;
    }
    .sidebar .review .reviewBody .reviewMore,
    .sidebar .review .reviewBody p,
    .sidebar .review .reviewTop,
    .sidebar .help span {
        font-size: 10px;
    }
    .sidebar .review .reviewTitle,
    .sidebar .more,
    .sidebar .newsList .date,
    .sidebar .help p,
    .partnersPageItem .desc,
    .breadcrumbs a {
        font-size: 12px;
    }
    .sidebar .newsList a,
    .sidebar .mail a,
    .partnersPageItem .name,
    .sidebar .phones a {
        font-size: 14px;
    }
    .sidebar .title {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .partnersPageItem__info {
        width: 100%;
    }
    .partnersPageItem__info {
        width: 65%;
    }
    .sidebar .phones a,
    .breadcrumbs a {
        margin-right: 5px;
    }
    .formCardBig .formHorizont {
        flex-direction: column;
        gap: 20px;
    }
    .dinamicPanel {
        padding: 10px 0 10px;
    }
    .formCardBig form .input {
        width: 100%;
    }
    .formCardBig form input:not(:last-of-type) {
        margin-right: 0;
    }
    .footer .info {
        grid-area: 4 / 1 / 4 / 2;
    }
    .mainCatalogItem img {
        width: 100%;
    }
    .mobilePanel .shopBlock {
        display: flex;
        align-items: center;
        margin: 0;
        justify-content: flex-end;
    }
    .dinamicPanel .blockPhones .phones,
    .topPanel,
    .shopBlock a,
    .dinamicPanel .blockPhones,
    .shopBlock  {
        display: none;
    }
    .mobilePanel .blockPhones {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .mobilePanel {
        display: flex;
        align-items: center;
        background: var(--gradient-main);
        color: var(--color-white);
        padding: 10px 15px;
    }
    .blockPhones .img {
        position: unset;
        left: 0;
        top: 0;
    }
    .btnOrderPhone {
        margin: 0 0 0 10px;
        color: var(--color-white);
    }
    .mobilePanel .img {
        filter: invert(13%) sepia(53%) saturate(5%) hue-rotate(365deg) brightness(170%) contrast(123%);
        width: 16px;
    }
    .mobilePanel .img img {
        width: 100%;
    }
    .mobilePanel .shopBlock img {
        filter: invert(13%) sepia(53%) saturate(4%) hue-rotate(865deg) brightness(2170%) contrast(123%);
        display: block;
    }
    .shopBlock .count span {
        background: var(--color-white);
        color: var(--color-org);
    }
    .btnCatalog {
        background: var(--color-org);
        margin: 0 auto;
    }
    .mobileMenu {
        flex-direction: column;
        align-items: flex-start;
    }
    .mobilePanel {
        padding: 14px 15px;
        margin: 17px 0;
    }
    .img img,
    .shopBlock a.count {
        display: block;
    }
    .topSocial {
        position: unset;
        margin: 0 auto 30px;
    }
    .formSearch {
        max-width: 70%;
    }
    .social a {
        fill: var(--color-blue);
        width: 50px;
        height: 50px;
    }
    .mobileMenu.active  .btnCatalog {
        background: var(--color-blue);
        margin: 30px auto 40px;
        max-width: 320px;
        width: 100%;
        justify-content: center;
    }
    .navigation .menu li.dropdown .submenu li:not(:last-child) {
        margin: 0 0 17px 0;
    }
    .navigation .menu li:not(:last-child) {
        margin: 0 0 30px 0;
    }
    
    .topPanel .icon {
        fill: var(--color-black);
    }
    .city {
        color: var(--color-blue);
        font-weight: 500;
        font-size: 18px;
        fill: var(--color-blue);
        margin-bottom: 40px;
    }
    .workingHours {
        margin: 0 auto;
        font-size: 23px;
    }
    .dropdownMenu.active .dropdownMenuWrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        height: 100%;
    }
    .dropdownMenu.active {
        z-index: 9;
    }
    .submenuActive {
        display: none;
    }
    .dropdownMenuCatalog {
        max-height: 100%;
        height: 100%;
        overflow: auto;
        direction: rtl;
        padding-right: 0;
        padding-left: 0;
        border-right: 0;
        width: 100%;
    }
    .dropdownMenuCatalog li.active {
        display: flex;
        flex-direction: column;
    }
    .dropdownMenuCatalog li.active .submenu {
        display: block;
        margin-top: 35px;
    }
    .dropdownMenuCatalog li.active .submenu a {
        color: #333333;
        border: 0;
        font-size: 16px;
        font-weight: 400;
    }
    .dropdownMenuCatalog li.active a {
        border: 0;
    }    
    .dropdownMenuCatalog li a {
        font-size: 22px;
    }
    .dropdownMenuWrapClose {
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
    }
    .cardBottom__star {
        width: 68px;
    }
    .cardBottom__star img {
        width: 100%;
    }
}


@media screen and (max-width: 576px) {
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 16px;
        font-weight: 700;
    }
    .mainCatalogItem li a {
        font-size: 12px;
    }
    .mainCatalogItem li {
        margin-top: 10px;
    }
    .mainCatalogItem {
        padding: 11px;
    }
    .btnCatalog {
        font-size: 16px;
        padding: 10px 50px;
    }
    .mainCatalog .card {
        padding: 10px;
    }
    .mainCatalogItem .image {
        margin-top: 0;
        order: -1;
    }
    .mainCatalogItem .image,
    .mainCatalogItem .icon {
        margin: 0;
        order: -1;
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }
    
    .mainCatalogItem img {
        width: 100%;
        height: 100px;
    }
    .mainCatalogList,
    .formCardBig .sectionTitle,
    .formBottom p {
        display: none;
    }
    .mainCatalogListMobile {
        display: flex;
        flex-wrap: wrap;
    }
    .hide {
        display: none;
    }
    .mainCatalogItem .moreBtnJs {
        font-size: 10px;
        color: var(--color-blue);
        margin-top: 20px;
        display: block;
    }
    .formSearch {
        max-width: 47%;
    }
    .moreBtn {
        font-size: 16px;
        color: var(--color-blue);
        line-height: 15px;
        display: flex;
        justify-content: center;
        margin: 40px 0 0;
    }
    .moreBtn img {
        margin-left: 5px;
    }
    .whyListItem .card p,
    .productItemAbout__exist,
    .btnOneClick,
    .cardBottom__star,
    .cardBottom__eye,
    .mainNewsItem p,
    .mapSidebar address {
        font-size: 10px;
        line-height: 15px;
    }
    .productItemAbout__title,
    .content p,
    .cardTop span,
    .mapSidebar .name,
    .footer a,
    .footerInfo .col address,
    .footerNav .btn,
    .footerBottomAbout,
    .formSearch .input,
    .payPageVariant .text,
    .payPageVariant .desc,
    .payPageRequisite_row .info,
    .payPageTermsCard li {
        font-size: 12px;
        line-height: 15px;
    }
    .payPageRequisite_row .name {
        font-size: 14px;
        font-weight: 500;
    }
    .payPage .title {
        font-size: 16px;
        font-weight: 700;
    }
    .productItemPrice {
        font-size: 22px;
        margin: 10px 0 20px;
    }
    .payPageRequisite .title, .payPageTerms .title {
        margin-bottom: 20px;
    }
    .payPageVariant .icon {
        width: 44px;
    }
    .btnAddToCard .icon {
        width: 17px;
    }
    .btnAddToCard,
    .btnOneClick {
        height: 31px;
    }
    .productItemBody {
        transform: translate(0, 32px);
    }
    .mainAbout .content img {
        display: none;
    }
    .content p:not(:last-child) {
        margin-bottom: 15px;
    }
    .swiper-slide img,
    .payPageTerms,
    .payPageVariant .icon img {
        width: 100%;
    }
    .formCardBig {
        padding: 15px;
    }
    .formCardBig form {
        display: flex;
        flex-direction: column;
    }
    input[type="text"], input[type="tel"], input[type="email"], textarea {
        font-size: 12px;
        font-weight: 500;
        min-height: 36px;
        padding: 10px;
    }
    .formCardBig .formBottom {
        order: 1;
    }
    .checkedApproval {
        font-size: 8px;
        line-height: 10px;
    }
    .formCardBig .btnForm,
    .mapSidebar .phone {
        font-size: 14px;
    }
    .mapWrapper {
        flex-direction: column-reverse;
    }
    .mapSidebar {
        gap: 15px;
    }
    section {
        padding-bottom: 40px;
    }
    .footerNav {
        display: flex;
        flex-direction: column;
    }
    .footerNav .social {
        order: -1;
    }
    .footerNav .logo {
        order: -1;
    }
    .footerInfo .col {
        width: 100%;
    }
    .footerNav .contacts {
        display: flex;
        align-items: flex-start;
        order: 1;
        max-width: 100%;
        gap: 20px;
        margin: 0;
    }
    .footerMenu {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }
    .footerMenuCol {
        margin-left: 0;
        width: 50%;
    }
    .footerMenuCol:nth-child(2) {
        margin-left: 0;
    }
    .blockMail {
        margin-top: 0;
    }
    .footerMenu li,
    .info a {
        margin-top: 15px;
    }
    .footer .info {
        width: 50%;
        margin: -70px 0 0;
    }
    .footerInfo .workingHours {
        font-size: 16px;
        margin-bottom: 0;
    }
    .footerNav .btn,
    .blockPhones,
    .blockMail,
    .formSearch .btnSearch img  {
        width: 100%;
        max-width: 100%;
    }
    .footerNav .phones,
    .blockMail .letters {
        margin-top: 10px;
        gap: 5px;
    }
    .footerInfo {
        gap: 20px;
        padding-bottom: 20px;
    }
    .footerBottom {
        flex-wrap: wrap;
    }
    .copyright {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .mainTabsSection .tabs .sectionTitle:not(:last-child) {
        margin-right: 20px;
    }
    .productItemAbout, .productItemPrice, .productItemTop {
        padding: 0 15px;
    }
    .stars {
        width: 95px;
    }
    .stars img {
        width: 100%;
    }
    .mainTabsSection .tabs .sectionTitle {
        color: var(--color-grey-2);
        margin-bottom: 20px;
    }
    .scrollWrap {
        overflow: auto;
    }
    .mainTabsSection .tabs {
        display: flex;
        align-items: center;
        width: 480px;
    }
    .formSearch .input {
        padding-left: 15px;
    }
    .formSearch {
        height: 36px;
    }
    .formSearch .btnSearch {
        right: 5px;
        width: 18px;
    }
    .btnOrderPhone {
        font-size: 14px;
    }
    .sectionTitle {
        margin-bottom: 20px;
    }
    
    .newsPage .mainNewsItem {
        width: 100%;
    }
    .payPageWrap {
        margin-bottom: 20px;
    }
    .payPageRequisite_row {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
    }
}