
@media screen and (max-width: 1340px) {
    .formSearch {
        max-width: 353px;
        margin: 0 80px 0 38px;
    }
    .menuImageActive {
        max-width: 41vw;
    }
    .submenuActive {
        padding: 0 20px;
    }
    .mainCatalog .card .title {
        flex-direction: column;
        align-items: flex-start;
    }
    .footerInfo .col:last-child {
        padding-left: 0;
    }
}

@media screen and (max-width: 1200px) {
    h3 {
        font-size: 22px;
    }
    .logo {
        width: 140px;
    }
    .formSearch {
        margin: 0 70px 0 20px;
    }
    .btnCatalog {
        padding: 14px 20px;
    }
    .menuImageActive {
        display: none;
    }
    .submenuActive {
        width: 50%;
    }
    .btnOneClick {
        font-size: 14px;
    }
    .formCardBig {
        padding: 40px;
    }
    .footerNav .social {
        width: 100%;
    }
    .info {
        grid-area: 4 / 1 / 4 / 4;
        width: 100%;
    }
    .footerNav .social {
        margin: 0;
        grid-area: 4 / 3 / 4 / 4;
    }
    .footerNav {
        grid-row-gap: 30px;
        margin-bottom: 20px;
    }
    .footerMenu {
        grid-area: 1 / 2 / 4 / 4;
    }
    .logo {
        width: 85px;
        overflow: hidden;
    }
}

@media screen and (max-width: 993px) {

}