
@media screen and (max-width: 1340px) {
    .formSearch {
        max-width: 353px;
        margin: 0 80px 0 38px;
    }
    .menuImageActive {
        max-width: 41vw;
    }
    .submenuActive {
        padding: 0 20px;
    }
    .mainCatalog .card .title {
        flex-direction: column;
        align-items: flex-start;
    }
    .footerInfo .col:last-child {
        padding-left: 0;
    }
}

@media screen and (max-width: 1200px) {
    h3 {
        font-size: 22px;
    }
    .logo {
        width: 140px;
    }
    .formSearch {
        margin: 0 70px 0 20px;
    }
    .btnCatalog {
        padding: 14px 20px;
    }
    .menuImageActive {
        display: none;
    }
    .submenuActive {
        width: 50%;
    }
    .btnOneClick {
        font-size: 14px;
    }
    .formCardBig {
        padding: 40px;
    }
    .footerNav .social {
        width: 100%;
    }
    .info {
        grid-area: 4 / 1 / 4 / 4;
        width: 100%;
    }
    .footerNav .social {
        margin: 0;
        grid-area: 4 / 3 / 4 / 4;
    }
    .footerNav {
        grid-row-gap: 30px;
        margin-bottom: 20px;
    }
    .footerMenu {
        grid-area: 1 / 2 / 4 / 4;
    }
    .logo {
        width: 85px;
        overflow: hidden;
    }
    .footerBottom {
        font-size: 14px;
    }
}

@media screen and (max-width: 993px) {
    .headerWrap {
        flex-wrap: wrap;
    }
    .formSearch {
        margin: 0 auto 0 20px;
    }
    .shopBlock {
        margin-top: 15px;
        width: 100%;
        text-align: end;
    }
    .blockPhones {
        text-align: right;
    }
    .navigation .menu {
        display: none;
    }
    .mobileMenu {
        display: flex;
    }
    .mobileMenu .menu {
        display: flex;
        flex-direction: column;
    }
    .burgerMenu {
        display: block;
    }
    .mobileMenu {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        transform: translate(0, -100%);
        width: 100%;
    }
    .burgerMenu span {
        display: block;
        height: 6px;
        width: 38px;
        background: #ee6800;
        border-radius: 10px;
    }
    .navigationWrap {
        align-items: center;
    }
    .burgerMenu span:not(:last-child) {
        margin-bottom: 8px;
    }
    .mainCatalogItem,
    .whyListItem {
        width: 50%;
    }
    .footerTitle {
        font-size: 14px;
    }
    .mobileMenu.active {
        transform: translate(0, 0);
        opacity: 1;
        background: #fff;
        z-index: 9;
        height: 100%;
        padding: 17px 25px;
    }
    .mobileMenuClose {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .navigation .menu .dropdown::after {
        position: absolute;
        right: -25px;
        top: 0;
    }
    .navigation .menu li.dropdown:hover .submenu {
        position: unset;
        border: 0;
        box-shadow: none;
    }
    .navigation .menu li.dropdown .submenu a {
        color: var(--color-grey-3);
        font-size: 18px;
    }
    .mainTabsSection .productItem:not(:last-child) {
        margin-right: 0;
    }
    .tabsContent [data-tab-content].active {
        flex-wrap: wrap;
    }
    .mainNewsWrap {
        flex-wrap: wrap;
    }
    .mainNewsItem {
        width: 50%;
    }
    .navigation {
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .formCardBig .formHorizont {
        flex-direction: column;
        gap: 20px;
    }
    .dinamicPanel {
        padding: 10px 0 10px;
    }
    .formCardBig form .input {
        width: 100%;
    }
    .formCardBig form input:not(:last-of-type) {
        margin-right: 0;
    }
    .info {
        grid-area: 4 / 1 / 4 / 2;
    }
    .mainCatalogItem img {
        width: 100%;
    }
    .mobilePanel .shopBlock {
        display: flex;
        align-items: center;
        margin: 0;
        justify-content: flex-end;
    }
    .mobilePanel .blockPhones {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .blockPhones .phones,
    .topPanel,
    .shopBlock a,
    .blockPhones,
    .shopBlock  {
        display: none;
    }
    .mobilePanel {
        display: flex;
        align-items: center;
        background: var(--gradient-main);
        color: var(--color-white);
        padding: 10px 15px;
    }
    .blockPhones .img {
        position: unset;
        left: 0;
        top: 0;
    }
    .btnOrderPhone {
        margin: 0 0 0 10px;
        color: var(--color-white);
    }
    .mobilePanel .img {
        filter: invert(13%) sepia(53%) saturate(5%) hue-rotate(365deg) brightness(170%) contrast(123%);
    }
    .mobilePanel .shopBlock img {
        filter: invert(13%) sepia(53%) saturate(4%) hue-rotate(865deg) brightness(2170%) contrast(123%);
        display: block;
    }
    .shopBlock .count span {
        background: var(--color-white);
        color: var(--color-org);
    }
    .btnCatalog {
        background: var(--color-org);
        margin: 0 auto;
    }
    .mobileMenu {
        flex-direction: column;
        align-items: flex-start;
    }
    .mobilePanel {
        padding: 14px 15px;
        margin: 17px 0;
    }
    .img img,
    .shopBlock a.count {
        display: block;
    }
    .topSocial {
        position: unset;
        margin: 0 auto 30px;
    }
    .formSearch {
        max-width: 70%;
    }
    .social a {
        fill: var(--color-blue);
        width: 50px;
        height: 50px;
    }
    .mobileMenu.active  .btnCatalog {
        background: var(--color-blue);
        margin: 30px auto 40px;
        max-width: 320px;
        width: 100%;
        justify-content: center;
    }
    .navigation .menu li.dropdown .submenu li:not(:last-child) {
        margin: 0 0 17px 0;
    }
    .navigation .menu li:not(:last-child) {
        margin: 0 0 30px 0;
    }
    
    .topPanel .icon {
        fill: var(--color-black);
    }
    .city {
        color: var(--color-blue);
        font-weight: 500;
        font-size: 18px;
        fill: var(--color-blue);
        margin-bottom: 40px;
    }
    .workingHours {
        margin: 0 auto;
        font-size: 23px;
    }
    .dropdownMenu.active .dropdownMenuWrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        height: 100%;
    }
    .dropdownMenu.active {
        z-index: 9;
    }
    .submenuActive {
        display: none;
    }
    .dropdownMenuCatalog {
        max-height: 100%;
        height: 100%;
        overflow: auto;
        direction: rtl;
        padding-right: 0;
        padding-left: 0;
        border-right: 0;
        width: 100%;
    }
    .dropdownMenuCatalog li.active {
        display: flex;
        flex-direction: column;
    }
    .dropdownMenuCatalog li.active .submenu {
        display: block;
        margin-top: 35px;
    }
    .dropdownMenuCatalog li.active .submenu a {
        color: #333333;
        border: 0;
        font-size: 16px;
        font-weight: 400;
    }
    .dropdownMenuCatalog li.active a {
        border: 0;
    }    
    .dropdownMenuCatalog li a {
        font-size: 22px;
    }
    .dropdownMenuWrapClose {
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
    }
}


@media screen and (max-width: 576px) {
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 16px;
        font-weight: 700;
    }
    .mainCatalogItem li a {
        font-size: 12px;
    }
    .mainCatalogItem li {
        margin-top: 10px;
    }
    .mainCatalogItem {
        padding: 11px;
    }
    .btnCatalog {
        font-size: 16px;
        padding: 10px 62px;
    }
    .mainCatalog .card {
        padding: 10px;
    }
    .mainCatalogItem .image {
        margin-top: 0;
        order: -1;
    }
    .mainCatalogItem .image,
    .mainCatalogItem .icon {
        margin: 0;
        order: -1;
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }
    
    .mainCatalogItem img {
        width: 100%;
        height: 100px;
    }
    .mainCatalogList {
        display: none;
    }
    .mainCatalogListMobile {
        display: flex;
        flex-wrap: wrap;
    }
    .hide {
        display: none;
    }
    .mainCatalogItem .moreBtnJs {
        font-size: 10px;
        color: var(--color-blue);
        margin-top: 20px;
        display: block;
    }
}